<% wrap_layout :layout do %>
  <article class='ContentBody'>
    <h1><%= current_article.title %></h1>
    <h2 class='PostMeta'>
      <%= time_tag current_article.date %> – 
      <a href='#comments' data-disqus-url='http://alexpeattie.com<%= current_page.url %>'>comments</a>
    </h2>
    <%= yield %>
  </article>
  
  <%= partial 'components/comments' %>
<% end %>