---
title: Alex Peattie - CTO and cofounder of Peg & London-based developer (my personal site)
description: The personal site of Alex Peattie - I'm a startup founder, longtime developer, tinkerer and (presently) a Londoner! I've collected my open-source projects, several years worth of blog posts and some info about me (including work history & contact details) on this site.
scripts:
  - home/svg
  - home/title
  - home/video
---

<% content_for(:header) do %>
  <section class='Me'>
    <section class='Me-mugshot'>
      <%= image_tag 'home/me.jpg' %>
    </section>

    <section class='Me-blurb'>
      <h2>Hi, I’m Alex!</h2>
      <h3>I’m the CTO and cofounder of <a href='https://peg.co'>Peg</a></h3>
      <h4>I enjoy making: websites, stupid faces</h4>

      <section class='Me-social'>
        <a href='https://twitter.com/alexpeattie' id='link-twitter'>
          <%= partial '/assets/images/icons/twitter.svg' %>
        </a>
        <a href='https://github.com/alexpeattie' id='link-github'>
          <%= partial '/assets/images/icons/github.svg' %>
        </a>
        <a href='mailto:me@alexpeattie.com' id='link-email'>
          <%= partial '/assets/images/icons/mail.svg' %>
        </a>
        <a href='https://linkedin.com/in/apeattie' id='link-linkedin'>
          <%= partial '/assets/images/icons/linkedin.svg' %>
        </a>
      </section>
    </section>
  </section>
<% end %>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics TimelineItem-pics--multi TimelineItem-pics--jelly'>
    <%= image_tag 'home/peg.png' %>

    <a class='TimelineItem-pics-footer' href='https://goo.gl/maps/CERpENiTBYE2'>
      <%= image_tag 'home/map.png?v=2', class: 'map' %>
    </a>
  </aside>

  <section class='TimelineItem-details'>
    <h2><a href='https://peg.co'>Peg</a></h2>
    <h3>Co-founder &amp; CTO, 2014 – Present</h3>
    <p><a href='https://peg.co'>Peg</a> is a software company that builds products to help global advertisers become influencer marketing gurus. Our mission is to shift $1bn away from traditional media, towards independent content creators.</p>

    <p>Over 1,300 companies have signed up, across 169 countries. Paying customers include Google, Unilever, Universal Music, Mediacom, Edelman and Havas Media Group to name a few. Over 8,000 top-tier influencers currently signed up, with a combined social reach of 2bn. To date, Peg has raised over $2M from more than fifty top angel investors in London.</p>

    <p>We process hundreds of millions of data-points daily as part of our mission to matchmake brands and influential content creators. The platform is built with a Ruby on Rails backend, an Angular front-end, with a smattering of Python microservices. Full details on our stack are available on <a href='(https://stackshare.io/peg/peg'>Stackshare</a>. PS - we're always <a href='https://peg.co/hiring'>hiring</a> talented developers!</p>

    <p>Feel free to drop me an email at <a href='mailto:alex@peg.co'>alex@peg.co</a> for anything Peg-related! Or if you'd like, drop by our offices at <a href='https://goo.gl/maps/OI7bi'>Irongate House, 22-30 Duke's Place, London, EC3A 7LP</a>.</p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics TimelineItem-pics--smaller TimelineItem-pics--jelly'>
    <%= image_tag 'home/ma.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><a href='http://www.makersacademy.com'>Makers Academy</a></h2>
    <h3>Senior Coach, 2013 – 2014</h3>
    <p>At <a href='http://www.makersacademy.com'>Makers Academy</a> - a 12-week coding bootcamp in Shoreditch, I was lucky enough to train over 200 amazing junior developer (who in most cases had no prior coding experience). I was responsible for running the course's second half focusing on web technologies including Ruby on Rails, databases &amp; SQL (Postgres), node.js, TDD w/ RSpec and Jasmine, AJAX, WebSockets.</p>

    <p>It was a pleasure to design a curriculum to cover such a wide range of material in a short time, and to teach so many incredible students, who have gone on to jobs at the likes of Facebook, GDS, Thoughtbot, Pusher, Pivotal Labs and Amazon. A couple of media appearances from my time at MA are below:</p>


    <section class='MediaAppearances'>
      <section class='MediaAppearances-details' video-modal='OGp15f5uEvk'>
        <h4>Interview w/ London Live TV</h4>
        <date>19/06/14</date>
      </section>

      <section class='MediaAppearances-thumb'>
        <a video-modal='OGp15f5uEvk'>
          <%= image_tag 'home/londonlive.png' %>
        </a>
      </section>

      <section class='MediaAppearances-details' video-modal='tTGdTs9qi0o'>
        <h4>Sky News piece</h4>
        <date>18/07/14</date>
      </section>

      <section class='MediaAppearances-thumb'>
        <a video-modal='tTGdTs9qi0o'>
          <%= image_tag 'home/sky.png' %>
        </a>
      </section>
    </section>

  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics TimelineItem-pics--jelly -experience--ap'>
    <%= image_tag 'home/ap.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Consultancy</h2>
    <h3>2006 – 2013</h3>
    <p>I spent seven years working as a software developer on a consultancy basis for a wide range of clients - Fortune 500 companies, several Silicon Valley startups, online retailers and NGOs including UNESCO. I was most often working with Ruby on Rails, JavaScript and jQuery, and RDBMSs (especially PostgreSQL) with a focus on building reliable, performant web apps that users loved.</p>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>

<%= partial 'components/video-modal' %>
