---
title: Projects (mostly JavaScript and web stuff)
description: The various personal projects I've released from 2010-2016 - mainly JS & Ruby libraries. Pretty much everything was made just for fun, and is open-source and released under MIT/copy-left licenses.
---


<article class='TimelineItem TimelineItem--fadeIn'>
  <aside class='TimelineItem-pics -projects-prideify'>
    <%= image_tag 'projects/prideify/teaser.png', class: 'prideify-Teaser' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><%= title_link_to 'projects/prideify' %></h2>
    <h3>JS library</h3>
    <p><%= summary('projects/prideify') %></p>

    <p>
      <a href='/projects/prideify' class='Btn'>More info, docs & download</a>
      <a href='https://github.com/alexpeattie/prideify' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics -projects-thumb-windowed'>
    <%= image_tag 'projects/windowed/animated-demo.gif' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><a href='/projects/windowed'>windowed.js</a></h2>
    <h3>jQuery plugin</h3>
    <p><%= summary('projects/windowed') %></p>

    <p>
      <a href='/projects/windowed' class='Btn'>More info, docs & download</a>
      <a href='https://github.com/alexpeattie/windowed' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/justvector/teaser.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><%= link_to 'JustVector Social Icons 1.5', 'projects/justvector-icons' %></h2>
    <h3>Icon set</h3>
    <p>150 monochrome, fully scaleable, fully editable vector icons for social sites. The icons are completely free for commercial use, and are available in .AI, .EPS, .SVG and .PNG formats.</p>

    <p>
      <%= link_to 'More info & download', 'projects/justvector-icons', class: 'Btn' %>
    </p>
  </section>
</article>


<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/ap.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
      <a href='https://github.com/alexpeattie/alexpeattie.com'>alexpeattie.com</a>
    </h2>
    <h3>Personal site</h3>
    <p>The site you're on right now (ooh, meta), is open-source. It's built with Ruby 2.3, Middleman 4 and is hosted on Amazon S3. You can also jump to the source code of any page using the link in the footer. Licensed under <a href='https://github.com/pegco/peg/blob/master/LICENSE.md'>MPLv2</a>.</p>

    <p>
      <a href='https://github.com/alexpeattie/alexpeattie.com' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>GTokenizer</h2>
    <h3>Tokenization Ruby gem</h3>
    <p>A Ruby gem for simple string tokenization, based on the method used by Google for their Google NGrams app (<a href='http://ngrams.googlelabs.com/'>http://ngrams.googlelabs.com/</a>).</p>
    <p>
      <a href='https://github.com/alexpeattie/gtokenizer' class='Btn Btn--source'>
        Source
      </a>
      <a href='https://rubygems.org/gems/gtokenizer/versions/1.0.0' class='Btn Btn--rubygems'>
        View on RubyGems
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='legacy'>Legacy projects</h2>
    <h3>Old projects that I've retired</h3>
    <ul>
      <li>
        <a href='https://web.archive.org/web/20150910071737/http://alexpeattie.com/projects/animate-textshadow/'>animate-textshadow.js</a> - (Explanation <a href='/blog/retiring-animate-textshadow-floating-feedback#animate-textshadowjs'>here</a>)
      </li>
      <li>
        <a href='https://web.archive.org/web/20150910072548/http://alexpeattie.com/projects/feedback_button/'>CSS3 floating feedback button</a> - (Explanation <a href='/blog/retiring-animate-textshadow-floating-feedback#css-floating-feedback-button'>here</a>)
      </li>
    </ul>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>